<div class="sidenav">
    <img src="assets\img\logo flavio.png">
   <nav>
        
       <a href="#">Home</a>
        <li class="parent"><a href="#">Administração</a>
            <ul class="submenu">
                <li><a routerLink="/cadUsuario">Usuário</a></li>
                <li><a routerLink="/cadMaterial">Material</a></li>
                <li><a routerLink="/cadProduto">Produto</a></li>
            </ul>
        </li>
        <li class="parent"><a href="#">Pomar</a>
            <ul class="submenu">
                <li><a routerLink="/Cadastro">Cadastro</a></li>
                <li><a routerLink="/Movimento">Movimento</a></li>
                <li><a routerLink="#">Colheita</a></li>
            </ul>
        </li>
    </nav>
</div>
